/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    background: linear-gradient(135deg, rgba(238,242,255,1) 0%, rgba(164,183,238,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img{
    width:244px;
    height:48px;
    padding-top: 72px;
    padding-bottom: 60px;
}

main{
    width: 400px;
    height: 360px;
    border-radius: 16px;
    background: linear-gradient(144deg, #5572BB 2.13%, #374B7C 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.40);
}

.timer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}
.name{
    color: #FFF;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top:48px;
    padding-bottom:24px;}
.timer span{
    width: 312px;
    height: 1px;
    flex-shrink: 0;
    background: #3D538A;
    margin: 0 auto;
    margin-bottom:33px;
}
.time-box{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap:22px;
    padding-bottom:40px;
    
}
.dot1{
    position: absolute;
    top:178px;
    left: 146px;
}
.dot2{
    position: absolute;
    top:178px;
    right: 146px;
}

.time-box li{
    color: #A5B6EE;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    gap: 4px;
}
.hours{
    display: flex;
    flex-direction: column;}
.hours>input{
    background-image: url(../img/box.png);
    width:80px;
    height:80px;
    border-radius: 5px;
}

.minutes{
    display: flex;
    flex-direction: column;}

.seconds{
    display: flex;
    flex-direction: column;}
            


button{
    border:0;
    background-color: transparent;
    width: 112px;
    height: 48px;
}
.button-start,.button1,.button2{
    position:absolute;
    left:82px;
    top: 272px;
}
.button-reset,.button-reset-red{
    position:absolute;
    right: 82px;
    top: 272px;
}
.button-start{
    background-image: url(../img/start-disabled.png);
}
.button1{
    background-image:url(../img/start-default.png);}

.button2{
    background-image:url(../img/pause.png)
}
.button-reset{
    background-image: url(../img/reset-disabled.png);
}
.button-reset-red{
    background-image: url(../img/reset-default.png);
}





footer p{
    padding-top: 60px;
    padding-bottom: 103px;
    color: #8596BF;
    text-align: center;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
