@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@font-face {
    font-family: 'KyoboHandwriting2022khn';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KyoboHandwriting2022khn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-pc{font-family:'KyoboHandwriting2022khn', sans-serif}
body {
    color: red;
}

h1,
h2 {
    font-weight: normal;
}

h1 {
    color: inherit;
    font-family: 'Black Han Sans', sans-serif;
}

strong {
    border-bottom: 5px solid currentColor;
}

h2 {
    color: #999;
    font-family: 'Bagel Fat One', cursive;
}